*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  overflow: hidden;
}

h1 {
  font-size: 2rem;
  letter-spacing: 20px;
  font-weight: bold;
  color: #00bfae;
  text-transform: uppercase;
}

#lobby,
#game {
  text-align: center;
  width: 100%;
  max-width: 600px;
  padding: 50px;
  background-color: #222222;
  border: 2px solid #444444;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

#lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

input,
button {
  padding: 15px 30px;
  margin: 15px 0;
  font-size: 1.2rem;
  border: 2px solid #555555;
  outline: none;
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  background-color: #111111;
  color: #fff;
  transition: none;
  font-weight: bold;
}

#create-room,
#join-room {
  background-color: #00bfae;
  color: black;
  cursor: pointer;
}

#create-room:hover,
#join-room:hover {
  background-color: #008b82;
}

#start-game {
  background-color: #008b82;
  color: black;
  cursor: pointer;
  width: fit-content;
}

#start-game:hover {
  background-color: #00bfae;
}

#error {
  margin-top: 10px;
  color: #ff4d4d;
  font-size: 1.2rem;
  text-transform: uppercase;
}

#players {
  list-style: none;
  padding: 0;
}

#players li {
  margin: 10px 0;
  font-size: 1rem;
  color: #fff;
  font-weight: bold;
}

#game {
  display: none;
  width: 90%;
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  color: #00bfae;
}

h3 {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #b0bec5;
}

#role-display {
  font-size: 2rem;
  margin-top: 20px;
  font-weight: bold;
  color: #ffd700;
}

#room-display {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 100%;
  flex-direction: column;
  padding: 50px;
}

.container>* {
  margin: 30px;
}

button:active,
input:active {
  outline: none;
  box-shadow: none;
}

button:focus-visible,
input:focus-visible {
  outline: none;
}

button {
  margin-top: 20px;
  background-color: #00bfae;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #008b82;
}