:root {
  --color-1: #fbf5ef;
  --color-2: #f2d3ab;
  --color-3: #c69fa5;
  --color-4: #8b6d9c;
  --color-5: #494d7e;
  --color-6: #272744;
  --color-7: #f0c24a;
  --color-error: rgb(255, 69, 69);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.game-view {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

header {
  text-align: center;
  font-size: 3rem;
  color: var(--color-4);
  margin-top: 10px;
  letter-spacing: 20px;
  text-indent: 20px;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: var(--color-6);
  margin: 0;
  padding: 0;
  color: var(--color-1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#lobby,
#game {
  text-align: center;
  padding: 10px;
  margin: 10px 0;
  background-color: var(--color-5);
  border: 2px solid var(--color-4);
  font-weight: bold;
  width: 90%
}

#lobby {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input,
button {
  padding: 15px 30px;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid var(--color-4);
  outline: none;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-6);
  color: var(--color-1);
  font-weight: bold;
}

#create-room,
#join-room {
  background-color: var(--color-2);
  color: var(--color-6);
  cursor: pointer;
}

#create-room:hover,
#join-room:hover {
  background-color: var(--color-3);
}

#start-game {
  background-color: var(--color-3);
  color: var(--color-6);
  cursor: pointer;
  width: fit-content;
}

#error {
  margin-top: 10px;
  color: var(--color-error);
  font-size: 1rem;
}

#players {
  list-style: none;
  padding: 0;
  margin: 0;
}

#players {
  margin: 5px;
  padding: 0;
  font-size: 0.8rem;
  color: var(--color-1);
  font-weight: bold;
  font-style: italic;
}

#player-label {
  font-style: italic;
  margin: 0;
  font-size: 1rem;
  color: var(--color-4);
}

#role-display {
  font-size: 1.8rem;
  margin: 20px;
  font-weight: bold;
  color: var(--color-7);
}

#room-display {
  color: var(--color-1);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

button:active,
input:active {
  outline: none;
  box-shadow: none;
}

button:focus-visible,
input:focus-visible {
  outline: none;
}

button {
  background-color: var(--color-2);
  color: var(--color-6);
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-4);
  color: var(--color-1);
}